/* src/pages/CalendarOverride.css */
.react-calendar {
  width: 100%;
  background: #1B2A41; /* primary color */
  border: 1px solid #324A5F; /* accent color */
  border-radius: 0.5rem;
  color: #D1D5DB; /* gray-300 */
}

.react-calendar__navigation button {
  color: #F9FAFB; /* gray-50 */
  font-weight: bold;
}

.react-calendar__navigation button:hover,
.react-calendar__navigation button:focus {
  background-color: #324A5F; /* accent color */
}

.react-calendar__month-view__weekdays__weekday {
  color: #9CA3AF; /* gray-400 */
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
}

.react-calendar__tile {
  color: #D1D5DB; /* gray-300 */
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #324A5F; /* accent color */
  border-radius: 0.5rem;
}

.react-calendar__tile--now {
  background: #0C1821; /* secondary color */
  border-radius: 0.5rem;
  font-weight: bold;
  color: #F9FAFB; /* gray-50 */
}

.react-calendar__tile--active {
  background: #007bff !important;
  color: white !important;
  border-radius: 0.5rem;
  font-weight: bold;
}

.react-calendar__tile {
    position: relative;
}

.star {
    position: absolute;
    top: 0;
    right: 0;
}